*{
    margin:0;
    padding:0;
    font-family:'poppins',sans-serif;
}

p{
    text-align:center;
    padding-top:35px;
    padding-bottom:35px;
    font-size:30px;
    word-spacing:5px;
}
/* .setting{
    display:flex;
    align-items:center;
    justify-content:space-between;
} */
.setting img{
    width:80px;
    height:60px;
}